docs/graphics/handledatafromcloudconnector.json
[{"id":"be82b0e8.2dfbd","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cdab83dc.d7804","type":"mqtt in","z":"be82b0e8.2dfbd","name":"","topic":"ie/myval","qos":"2","datatype":"json","broker":"86b4c3d.d1e064","x":180,"y":320,"wires":[["ad6e63b.eed31a"]]},{"id":"c4e4f76f.d716e8","type":"debug","z":"be82b0e8.2dfbd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":440,"wires":[]},{"id":"d34ecfb4.30305","type":"comment","z":"be82b0e8.2dfbd","name":"Check : Data ","info":"","x":390,"y":200,"wires":[]},{"id":"ad6e63b.eed31a","type":"function","z":"be82b0e8.2dfbd","name":"","func":"msg.payload = msg.payload.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":320,"wires":[["6909ca94.9c6ed4"]]},{"id":"5f33630d.f7192c","type":"debug","z":"be82b0e8.2dfbd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":580,"wires":[]},{"id":"7c380454.3f1efc","type":"mqtt in","z":"be82b0e8.2dfbd","name":"","topic":"ie/m/j/simatic/v1/s7c1/dp","qos":"2","datatype":"json","broker":"86b4c3d.d1e064","x":170,"y":620,"wires":[["d5983b81.7e6748"]]},{"id":"6909ca94.9c6ed4","type":"mqtt out","z":"be82b0e8.2dfbd","name":"","topic":"ie/d/j/simatic/v1/s7c1/db/r/opcub/default","qos":"","retain":"","broker":"86b4c3d.d1e064","x":820,"y":320,"wires":[]},{"id":"d5983b81.7e6748","type":"function","z":"be82b0e8.2dfbd","name":"","func":"msg.payload.connections[0].dataPoints[0].topic = \"ie/d/j/simatic/v1/s7c1/db/r/opcub/default\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":640,"wires":[["5f33630d.f7192c","631bd7a1.d36cb8"]]},{"id":"6618f1b5.aca4c","type":"mqtt in","z":"be82b0e8.2dfbd","name":"","topic":"ie/d/j/simatic/v1/s7c1/dp/r/opcub/default","qos":"2","datatype":"json","broker":"86b4c3d.d1e064","x":230,"y":440,"wires":[["c4e4f76f.d716e8"]]},{"id":"631bd7a1.d36cb8","type":"mqtt out","z":"be82b0e8.2dfbd","name":"","topic":"ie/m/j/simatic/v1/s7c1/db","qos":"","retain":"","broker":"86b4c3d.d1e064","x":890,"y":720,"wires":[]},{"id":"b9a306eb.2f3a18","type":"inject","z":"be82b0e8.2dfbd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":740,"wires":[["631bd7a1.d36cb8"]]},{"id":"86b4c3d.d1e064","type":"mqtt-broker","name":"","broker":"ie-mqtt-connector","port":"9883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]