src/convertdata.json
[{"id":"9f0841b0.729a7","type":"tab","label":"IE Cloud Connector 1","disabled":false,"info":""},{"id":"e41e1224.5fc15","type":"mqtt in","z":"9f0841b0.729a7","name":"","topic":"ie/d/j/cc/dp/r/energy1/default","qos":"2","datatype":"json","broker":"cb24c6f3.e214a8","x":260,"y":180,"wires":[["aeef7509.f19de8","a5eff3a4.ffa48"]]},{"id":"45b09c5a.0722b4","type":"mqtt in","z":"9f0841b0.729a7","name":"","topic":"ie/m/j/cc/energy1/dp","qos":"2","datatype":"json","broker":"cb24c6f3.e214a8","x":230,"y":260,"wires":[["924b9b8f.a45e58","1baec86c.4d3108"]]},{"id":"924b9b8f.a45e58","type":"debug","z":"9f0841b0.729a7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":320,"wires":[]},{"id":"aeef7509.f19de8","type":"debug","z":"9f0841b0.729a7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":120,"wires":[]},{"id":"1baec86c.4d3108","type":"function","z":"9f0841b0.729a7","name":"","func":"msg.topic = 'ie/m/j/cc/converted/dp'\nmsg.payload = msg.payload.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":260,"wires":[["bdbda4cb.8718a8"]]},{"id":"a5eff3a4.ffa48","type":"function","z":"9f0841b0.729a7","name":"","func":"msg.topic = 'ie/d/j/cc/converted/dp/r/EnergyMeter/default'\nmsg.payload = msg.payload.payload\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":180,"wires":[["cf7fcee2.add47"]]},{"id":"cf7fcee2.add47","type":"mqtt out","z":"9f0841b0.729a7","name":"","topic":"ie/d/j/cc/converted/dp/r/energy1/default","qos":"","retain":"","broker":"cb24c6f3.e214a8","x":1070,"y":180,"wires":[]},{"id":"36abdeb9.410122","type":"mqtt out","z":"9f0841b0.729a7","name":"","topic":"ie/m/j/cc/converted/energy1/dp","qos":"","retain":"true","broker":"cb24c6f3.e214a8","x":1050,"y":260,"wires":[]},{"id":"bdbda4cb.8718a8","type":"function","z":"9f0841b0.729a7","name":"","func":"msg.payload.connections.forEach(element => {\n    element.dataPoints.forEach(elm => {\n        elm.topic = 'ie/d/j/cc/converted/dp/r/energy1/default'\n    })\n})\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":260,"wires":[["36abdeb9.410122"]]},{"id":"50368145.e2ef5","type":"mqtt in","z":"9f0841b0.729a7","name":"","topic":"ie/m/j/cc/converted/energy1/dp","qos":"2","datatype":"json","broker":"cb24c6f3.e214a8","x":270,"y":600,"wires":[["cde8aaf0.e50598"]]},{"id":"cde8aaf0.e50598","type":"debug","z":"9f0841b0.729a7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":600,"wires":[]},{"id":"7d70781.2956f88","type":"mqtt in","z":"9f0841b0.729a7","name":"","topic":"ie/d/j/cc/converted/dp/r/energy1/default","qos":"2","datatype":"json","broker":"cb24c6f3.e214a8","x":290,"y":680,"wires":[["844a08c5.f589d8"]]},{"id":"844a08c5.f589d8","type":"debug","z":"9f0841b0.729a7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":680,"wires":[]},{"id":"8396d4f7.056f78","type":"comment","z":"9f0841b0.729a7","name":"Testing","info":"","x":120,"y":500,"wires":[]},{"id":"cb24c6f3.e214a8","type":"mqtt-broker","name":"","broker":"ie-databus","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]